extends ../layouts/default

block content
	.container
		h1 Adopt
		
		p Our #1 priority is finding the perfect home for each of our pups. Our adoption process has three steps:

		ol
			li Our pre-adoption application. This form provides us with information about your family, home and lifestyle so we can begin to match you with your perfect pup! References are required and checked.

			li Meet and greets. Our adoptable dogs attend events each weekend to meet potential families - check out our Facebook page to see where we'll be next! These events give you a chance to measure energy levels and personalities (and get some puppy love). We'll also work with you to introduce your pets to ours and make sure everyone gets along.

			li Our home visit and adoption contract. 

		p Fees: generally, a flat rate of $200 covers shots (up-to-date), de-worming, flea treatment, spay/neuter, microchip and all application fees. Some animals may have additional fees depending on expenses and special circumstances.
		
		p LuvnPupz does not allow same-day adoptions; please understand that this is in the best interests of our pups (who have been through so much already). We're here to make sure you get the right dog for your family, and we appreciate your patience as we find the perfect match for you!

		p Check out our adoptable dogs here: 
			a(href="http://www.adoptapet.com/shelter87233-dogs.html") http://www.adoptapet.com/shelter87233-dogs.html 

		h1 Offline Forms
		
		.pup-forms
			a.pup-form(href="/LuvnPupz PreAdoption Application.pdf")
				span.icon-file-text2
				span  Offline Pre-Adoption
			a.pup-form(href="/LuvnPupz Adoption Contract.pdf")
				span.icon-file-text2
				span  Offline Adoption
