extends ../layouts/default

block content
	.container
		h2 Adopt
		.row
			.col-lg-8
				div!= data.content
				
				br
				p.section-block
					b Check out our adoptable dogs here:
					br
					br
					a(target="_blank", href="http://www.adoptapet.com/shelter87233-dogs.html") 
						img(src="/images/adopt_a_pet.gif")
						br
						br
						span http://www.adoptapet.com/shelter87233-dogs.html 
						
				br
			.col-lg-4.visible-lg
				img(src="/images/puppy1.png", style="width: 100%;")
			
		h2 Online Forms
		.pup-forms
			a.pup-form(href="/preadoption")
				span  Pre-Adoption Application

		h2 Printable Forms
		
		.pup-forms
			a.pup-form(href="/LuvnPupz PreAdoption Application.pdf")
				span.icon-file-text2
				span  Pre-Adoption Application
			a.pup-form(href="/LuvnPupz Adoption Contract.pdf")
				span.icon-file-text2
				span  Adoption Contract
