extends ../layouts/default

block content
	.container
		h1  Events
		
		p LuvnPupz has a standard schedule for Meet and Greet events. Some events may be subject to change - check out our Facebook to confirm!

		p 
			div First Saturday of the month:
			div Pet Supplies Plus in Kentwood 
			div 6159 Kalamazoo Ave SE
			div Grand Rapids, MI 49508
		p
			div Second Saturday of the month:
			div Pet Supplies Plus in Wyoming
			div 2033 28th St SW
			div Wyoming, MI 49519
		p
			div Third Saturday of the month:
			div Chow Hound in Cascade
			div 6787 Cascade Rd SE
			div Grand Rapids, MI 49546
		p
			div Fourth Saturday of the month:
			div Chow Hound in Standale
			div 4482 Lake Michigan Dr NW
			div Walker, MI 49544
