extends ../layouts/default

block content
	.container
		h1 Foster
		
		p LuvnPupz has no physical shelter building; we are entirely composed of volunteers and foster homes. We're always looking for more people to open their homes to an animal in need - if you think you might be able to help, please fill out our foster application! 

		p Our rescue provides veterinary care, food, toys and other supplies for foster pups; all that we ask of our fosters is time and love. We have an amazing support network available; if you have questions, we're here to help! 
