extends ../layouts/default

block content
	.container
		h2 Foster
		
		.row
			.col-lg-8
				p 
					span LuvnPupz has no physical shelter building; we are entirely composed of volunteers and foster homes. We're always looking for more people to open their homes to an animal in need - if you think you might be able to help, please fill out our 
					a(href="/LuvnPupz Foster Application.pdf") foster application
					span ! 

				p Our rescue provides veterinary care, food, toys and other supplies for foster pups; all that we ask of our fosters is time and love. We have an amazing support network available; if you have questions, we're here to help! 

				h2 Printable Forms
				
				.pup-forms
					a.pup-form(href="/LuvnPupz Foster Application.pdf")
						span.icon-file-text2
						span  Foster Application
			.col-lg-4.visible-lg
				img(src="/images/puppy2.png", style="width:100%")
