extends ../layouts/default

block content
	.container
		h2 Foster
		
		
		
		.row
			.col-lg-8
				div!= data.content
				
				h2 Online Forms
				.pup-forms
					a.pup-form(href="/fosterform")
						span  Foster Application
						
				h2 Printable Forms
				
				.pup-forms
					a.pup-form(href="/LuvnPupz Foster Application.pdf")
						span.icon-file-text2
						span  Foster Application
			.col-lg-4.visible-lg
				img(src="/images/puppy2.png", style="width:100%")
