extends ../layouts/home

block content

	div.text-center
		img.main-image(src="/images/puppies4.png", style="max-width: 750px; width: 100%;")
	.container.text-center
		p 
			b LuvnPupz is a non-profit 501(c)3 animal rescue based in Grand Rapids, Michigan. Our mission: to rescue, rehabilitate and rehome. 

	br
	.container
		div!= data.content
