extends ../layouts/home

block content

	div.text-center
		img.main-image(src="/images/puppies4.png", style="max-width: 750px; width: 100%;")
	.container.text-center
		p 
			b LuvnPupz is a non-profit 501(c)3 animal rescue based in Grand Rapids, Michigan. Our mission: to rescue, rehabilitate and rehome. 

	br
	.container
		p We rescue dogs from all over Michigan and from nearby states through partner rescues and transports. We specialize in puppies, pregnant dogs and special needs; these are often the first in line to be euthanized by no fault of their own. We also take in other animals in need.

		p Once a dog becomes a LuvnPupz pup, we rehabilitate; this means providing the best possible veterinary care for injuries/pre-existing conditions, spay and neuter... and a safe place to stay within our amazing foster network. Our dogs learn what it's like to be part of a family where they are loved, and they become amazing companions!

		p 
			span Our final goal is to rehome - to find the perfect 'furever' home for each pup. Check out our 
			a(href="/adopt") 'Adopt'
			span  page to learn more!
