extends ../layouts/default

block content
	.container
		h2 Support
		
		p Our rescue is 100% funded by donations from people like you! 



		.row
			.col-sm-12
				.section-block
					a.paypal-donate(href="javascript:void(0);") 
						img(src="/images/paypal.png", style="width: 150px;")
					br
					span Your donation goes directly toward the care of our rescue pups.
						
			.col-sm-12
				.section-block
					a(href="https://www.amazon.com/registry/wishlist/BDS6KMALKIKZ/ref=cm_sw_r_an_wl_gKWYsb0E385SM") 
						img(src="/images/amazon.png", style="width: 150px;")
					br
					span Send our pups a present!			
								
			.col-sm-12
				.section-block
					img(src="/images/allegan-veterinary-clinic.png", style="width: 250px;")
					br
					span Call Allegan Veterinary Clinic at 269-682-0026 to donate toward the LuvnPupz account.
			
			.col-sm-12
				.section-block
					a(href="https://smile.amazon.com/ch/46-4755276")
						img(src="/images/amazon-smile.png", style="height: 50px;")
					div
						span Shop with 
						a(href="https://smile.amazon.com/ch/46-4755276") Amazon Smile 
						span (no cost to you!)
						

		p(style="margin-top: 50px;")
			a(href="http://www.bravelets.com/bravepage/luvnpupz")
				img(src="/images/bravelets.jpg", style="height: 50px;")
			
			.row
				.col-sm-4
					.section-block
						a(href="https://www.bravelets.com/product/luvnpupz/original-leather-bracelet/black")
							img(src="/images/bravelets1.jpg", style="width: 100%;")
				.col-sm-4
					.section-block
						a(href="https://www.bravelets.com/product/luvnpupz/stitched-leather-bracelet/black")
							img(src="/images/bravelets2.jpg", style="width: 100%;")
				.col-sm-4
					.section-block
						a(href="https://www.bravelets.com/product/luvnpupz/signature-bar-necklace-silver/one-color")
							img(src="/images/bravelets3.jpg", style="width: 100%;")

		
		p(style="margin-top: 50px;")
			a(href="https://www.bonfirefunds.com/luvnpupz")
				img(src="/images/bonfirefunds.png", style="height: 50px;")
			div
				span Purchase a t-shirt via  
				a(href="https://www.bonfirefunds.com/luvnpupz") BonfireFunds
				span !
				br

			.row
				.col-sm-4
					.section-block
						a(href="https://www.bonfirefunds.com/luvnpupz")
							img(src="/images/bonfirefunds1.png", style="width: 100%;")
				.col-sm-4
					.section-block
						a(href="https://www.bonfirefunds.com/luvnpupz")
							img(src="/images/bonfirefunds2.png", style="width: 100%;")
				.col-sm-4
					.section-block
						a(href="https://www.bonfirefunds.com/luvnpupz")
							img(src="/images/bonfirefunds3.png", style="width: 100%;")

		
		p(style="margin-top: 50px;")
			div 
				a(href="https://www.BringFido.com")
					img(src="/images/bringfido.jpeg", style="height: 50px;")
			
			span Book on 
			a(href="http://BringFido.com") BringFido.com
			span  and/or purchase the Ruff Guide to the United States with code 
			b LUVNPUPZ
			span .
			
