extends ../layouts/default

block content
	.container
		h1 Support
		
		p Our rescue is 100% funded by donations from people like you! 

		p 
			span Direct donations via PayPal: 
			a(href="#") https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=v3Ap4paOvjRhKf4XUdGaiTR88LP3fgHLgG03aEbX-ptA9coVUDE5ANPqTDe&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2

		p Veterinary care donations (call Allegan Veterinary Clinic at 269-682-0026)

		p 
			span Send our pups a present via Amazon Wish List: 
			a(href="https://www.amazon.com/registry/wishlist/BDS6KMALKIKZ/ref=cm_sw_r_an_wl_gKWYsb0E385SM") https://www.amazon.com/registry/wishlist/BDS6KMALKIKZ/ref=cm_sw_r_an_wl_gKWYsb0E385SM

		p 
			span Shop with Amazon Smile (no cost to you!): 
			a(href="https://smile.amazon.com/ch/46-4755276") https://smile.amazon.com/ch/46-4755276

		p 
			span Support via Bravelets: 
			a(href="http://www.bravelets.com/bravepage/luvnpupz") http://www.bravelets.com/bravepage/luvnpupz

		p 
			span Purchase a t-shirt via BonfireFunds: 
			a(href="https://www.bonfirefunds.com/luvnpupz") https://www.bonfirefunds.com/luvnpupz

		p 
			span Book on 
			a(href="http://BringFido.com") BringFido.com
			span  and/or purchase the Ruff Guide to the United States with code LUVNPUPZ
